/__pycache__
*.exe
test1/target
test.*
runs/
*.pt
build/
result.json
.ruff_cache
https://app.nloli.xyz/sub?target=clash&udp=true&config=https%3A%2F%2Fraw.githubusercontent.com%2FHynoR%2FACL4SSR%2Fmaster%2FClash%2Fconfig%2FACL4SSR_Online.ini&exclude=GAME&emoji=true&filename=Paoluz_Cat4SSR&new_name=true&url=https://rss.paoluz.xyz/link/OFvX7M6HvkIiIMIt?sub=1
